* {
    margin: 0;
    padding: 0;
}

/* shared style */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

p {
    color: gray;
}

.btn {
    background: linear-gradient(48deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 1000px;
    font-weight: 600px;
}

/* main style */

/* navbar style */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h2 {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
}

#nav-bg {
    background-color: #1A0B2E;
}

span {

    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;

}

#nav-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* hero section */
.hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.floating-msg {
    background-color: #00FF88;
    border-radius: 1000px;
    color: black;
    font-weight: 600;
}

.hero-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    text-align: center;
    color: white;
}

.hero-section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-section-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subscribe-btn {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 12px 16px;
    border-radius: 1000px;
}

.hero-heading h3 {
    font-size: 60px;
}

.hero-description-bg {
    background-color: #1A0B2E;
    padding-bottom: 120px;
}

.hero-description {
    text-align: center;
    color: white;
}

.hero-description p {
    padding-bottom: 40px;
}

.hero-card-section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.hero-cards h3 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
}

hr {
    margin: 0 auto;
    width: 1200px;
    border: 1px solid gray;
    opacity: 0.1;
    margin-bottom: 40px;
}

.speciality-bg {
    background-color: #230E3D;
    color: white;
}

.speciality-bg h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 20px;
}

.second-cards {
    padding: 30px;
    border-radius: 30px;
    background-color: #2A0F4D;
}

.second-cards h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.second-card-section {
    padding-bottom: 100px;
}


.video-card {
    width: 400px;
    border-radius: 20px;
    background-color: #250D44;
}

.video-card p {
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}

.video-card h3 {
    font-size: 24px;
    color: white;
}

.video-card-description {
    padding: 20px;
}

.video-section {
    padding-bottom: 80px;
}

.video-section h2 {
    text-align: center;
    color: white;
    padding-top: 120px;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}

.video-section-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.video-min {
    display: flex;
    align-items: center;
    gap: 5px;
}

iframe {
    border-radius: 20px 20px 0 0;
}

.social-link img {
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 1000px;
    padding: 10px;
}

.host-info p {
    padding-top: 15px;
    padding-bottom: 20px;
}

footer h1 {
    text-align: center;
    font-size: 80px;
    color: white;
    padding-top: 120px;
}

.copy-right{
    margin-top: 32px;
}

footer {
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
}
.footer-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* media query */

@media screen and (min-width: 990px) {
    #hamburger {
        display: none;
    }

    .hero-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-left: 50px;
    }

    .hero-mic {
        position: relative;
        right: 235px;
    }

    .floating-msg {
        position: relative;
        padding: 8px 16px;
        bottom: 130px;
        left: 330px
    }

    .hero-section-btn {
        padding-bottom: 100px;
        padding-top: 40px;
    }

    .hero-description h2 {
        font-size: 48px;
        font-weight: 700;
    }

    .second-card-section {
        width: 1000px;
        display: grid;
        grid-template-columns: 320px 320px;
        margin: 0 auto;
        gap: 2em;
        grid-template-areas:
            "box-1 box-2 box-2"
            "box-1 box-3 box-3"
            "box-4 box-4 box-5";
    }

    .host-info {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        border-radius: 40px;
        padding: 40px;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width: 576px) {

    header {
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }

    nav {
        display: none;
    }

    #nav-btn {
        display: none;
    }

    .hero-circle {
        width: 150px;
        margin-left: 210px;
    }

    .hero-mic {
        position: relative;
        width: 50px;
        right: 110px;
    }

    .floating-msg {
        position: relative;
        padding: 5px;
        bottom: 50px;
        left: 155px;
    }

    .hero-heading h3 {
        font-size: 40px;
    }

    .break {
        display: none;
    }

    .hero-description {
        padding-top: 40px;
    }

    .hero-description h2 {
        font-size: 32px;
        font-weight: 700;
    }

    .hero-card-section {
        flex-wrap: wrap;
    }

    hr {
        width: 500px;
    }

    .second-cards {
        width: auto;
        margin-bottom: 20px;
        padding: 20px;
    }

    .video-section-container {
        flex-direction: column;
        align-items: center;
    }

    .host-info>img {
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .social-link {
        justify-content: center;
        padding-bottom: 20px;
    }

    .host-info {
        text-align: center;
    }

    .footer-social-link{
        flex-wrap: wrap;
    }
}